[2015-09-10 14:18] christian-trummer opened #1 "wrong class for private key when signing transaction"
i am using blockcypher to sign transactions locally. it works fine and doesnt throw an exception when i use the sample code of CreateAndSignAndSendTransaction.php also the transaction gets send but i do get the following PHP error!

PHP Error: 4096 - Argument 1 passed to BlockCypher\Crypto\PrivateKeyList::addPrivateKey() must be an instance of BitWasp\Bitcoin\Key\PrivateKeyInterface, instance of B

[2015-09-10 14:24] christian-trummer commented on #1
looks like BitWasp has changed something in their interface

[2015-09-11 19:30] josecelano commented on #1
hi @christian-trummer It seems [BitWasp/bitocin-php](https://github.com/Bit-Wasp/bitcoin-php) library has been refactored. Our composer.json is configured to upgrade only minor versions (0.0.*)  but in this case even new minor versions break the API. I am going to fix the composer to require only 0.0.7 which is the last version which works fine. I wil try to release the new version asap.

[2015-09-14 17:33] josecelano commented on #1
hi @christian-trummer I have released v1.2.2. You should not get that error with this new version. Is there anything else I can do for you? Please, let me know if I can close the issue.

[2015-09-16 08:59] christian-trummer commented on #1
thank you. everything is working fine now!

[2015-09-16 08:59] #1 closed

[2015-11-10 17:41] rtarnaud opened #3 "ModelAccessorValidator::validate always fails in method createForwardingAddress of PaymentForwardClient"
Hi,

I think there's a problem with ModelAccessorValidator::validate, especially the first line:

$mode = BlockCypherConfigManager::getInstance()->get('validation.level');

$mode is set to an empty array and therefore, the subsequent check in the method fail and lead to returning false.

Have you noticed that problem too?

Thanks!

[2015-11-11 08:36] josecelano commented on #3
Thanks for your feedback @rtarnaud. I will check it asap.

[2015-11-11 16:05] rtarnaud opened #4 "Call to method WebHook::getAllErrorMessages() causes an exception"
Hi,

I think there's another issue with the getAllErrorMessages method of WebHook. I invoke it after a standard web hook creation:

[code]
Fair enough, I spotted this bug recently with an invalid hash ($hash) but I think the call to the method also failed with a valid hash.

FYI, here's the call stack on crash:

[code]
Any ideas on this one?

Thanks!

[2015-11-28 14:04] josecelano commented on #4
Hi @rtarnaud . Sorry I have been very busy. It's a bug in this method:

```php`
    public function getErrorMessages()
    {
        $errorMessages = array();
        if (is_array($this->errors)) { // <!-- FIXED
            foreach ($this->errors as $error) {
                $errorMessages[] = $error->getError();
            }
        }
        return $errorMessages;
    }
[code]

[2015-11-28 14:14] josecelano commented on #3
Hi @rtarnaud could you post you sdk_config.ini file in the section?:

[code]

It seems you could have an invalid option in that section. Anyway I think I should return ttru if validation if disable at the end of the method. I think I am going to change it and I will return an exception if `$mode` value is an invalid option and return at the end of the method.

[2015-11-29 10:00] rtarnaud commented on #3
Hi @josecelano,

As far as I understand, there should be a configuration file sdk_config.ini in the library in order to provide various settings, validation.level being one of them.
However, I searched the whole package for this file and only find it in the sample and tests directory.
Should I create my own copy of this file and put it somewhere in the package or in my own project perhaps? (I saw

[2015-11-29 10:03] rtarnaud commented on #4
Ok, thanks!

[2016-01-11 23:52] UpalChakraborty opened #5 "Got Http response code 400"
When I am trying to create transaction, I am getting the following error.

Got Http response code 400 when accessing https://api.blockcypher.com/v1/btc/main/txs/new?token=xxxx.

I was trying to run the following code for BTC.main with mainnet bitcoin addresses.

http://blockcypher.github.io/php-client/sample/doc/transaction-api/CreateTransaction.html

[2016-01-12 22:41] josecelano commented on #5
Hi @UpalChakraborty. You should get an error message in the response body. Something like this:

[code]

If you have log enabled you can see the response body there.

[2016-01-12 22:47] josecelano commented on #3
Sorry for the delay @rtarnaud I have been very busy. Regarding config file you can put it when you want. You only have to define this define `BC_CONFIG_PATH` with its path.

Samples in this library use a bootstrap file and it contains both ways for setting up the library: config array and config file. Define is in this line:

https://github.com/blockcypher/php-client/blob/master/sample/bootstrap.p

[2016-01-12 23:35] #3 closed

[2016-01-12 23:41] josecelano commented on #4
Fixed but I still have to generate a new release with other minor bug fixes.

[2016-01-12 23:41] #4 closed

[2016-01-12 23:49] UpalChakraborty commented on #5
@josecelano Yes. The error message in response body is something like this. How do I fix this ?

[2016-01-13 00:06] josecelano commented on #5
Could you please paste the exact error message here?. You can remove addresses.

The first error:

`"Unable to find a transaction to spend for address"`

means you do not have enought balance in your source address, so you need to fund that address.

The second error:

`"Error building transaction: Invalid output address: wrong network.."´

means you are not using a rigth address for the network y

[2016-01-13 16:03] UpalChakraborty commented on #5
[code]
According to https://live.blockcypher.com/ 1xxx balance is 0.003901 BTC.

[2016-01-13 16:41] josecelano commented on #5
The first error occurs when you do not have enought funds in the input addresses for paying the output plus the fees.

The second error means you are using a private key which not correspond with any of the input addresses. This could happen if you are not using the rigth private key or even if you are passing more private keys than input addresses. Library only allows not compressed private keys

[2016-01-13 16:53] UpalChakraborty commented on #5
@josecelano In case of the first error, the address still have funds. It seems blockcypher server is rejecting continuous requests with same and hence throwing 400. In any case, it is not a big problem anymore.

But, the second error is not because of wrong private key. I have provided correct private key, but it is still happening. This issue is also mentioned on stackoverflow - http://bitcoin.st

[2016-01-13 22:24] josecelano commented on #5
@UpalChakraborty I am going to try to reproduce the problem but that exception is only throw is this line:

https://github.com/blockcypher/php-client/blob/master/lib/BlockCypher/Api/TXSkeleton.php#L148

What the method `generateSignatures` does is basically iterate over all input addresses and use the private key of each address to sign the transaction. When a private key is not used becasue the a

[2016-01-15 21:23] LSDx opened #6 "Invalid option 'callback_url' at payment forward client"
Hello. I can't figure out what is wrong. I'm trying to create new payment forward address but it throws an exception that theres is invalid option 'callback_url'.
So here's the exception itesef : http://prntscr.com/9qkzpr
And the code : http://prntscr.com/9qkydo

[2016-01-15 22:23] josecelano commented on #6
Hi @LSDx this bug is the same as #3 .I have fixed it with latest commits but I have not released a new version yet, I will do it asap. In the mean time you have to options:

1.- Patch your version:

You have to chage this llines:

https://github.com/blockcypher/php-client/blob/master/lib/BlockCypher/Validation/ModelAccessorValidator.php#L27-L33

2.- Change your API context options array to:

[code

[2016-01-16 16:12] LSDx commented on #6
What is the sandbox mode? Is it necessary?

[2016-01-18 09:30] josecelano commented on #6
Sorry @LSDx I copied/pasted from https://github.com/blockcypher/php-client/blob/master/sample/bootstrap.php

Really option `mode => sandbox' is not used for the time being. Both sandbox and live mode point to the same API endpoints. You can use Bitcoin Tesnet or better BlockCYpher Testnet if you do not want to use real bitcoins. The sandbox mode was added in the client only in case the BlockCypher

[2016-01-19 15:18] subhasaha opened #7 "CreateAndSignAndSendTransaction shows error"
In CreateAndSignAndSendTransaction the request and response is generated, but it shows the following error.

Fatal error: Uncaught exception 'BlockCypher\Exception\BlockCypherSignatureException' with message '1 private keys do not correspond to any input. Please check private keys provided.' in /myserver/blockcypher1/php-client/blockcypher/php-client/lib/BlockCypher/Api/TXSkeleton.php:148 Stack tr

[2016-01-19 15:25] josecelano commented on #7
Hi @subhasaha It could be the same problem reported here:

https://github.com/blockcypher/php-client/issues/5

The php-client does not support uncompressed public keys, that could be the problem.

[2016-01-19 15:26] josecelano commented on #5
Hi @UpalChakraborty can I close this issue?. It seems the problem was caused becasue the php-client is not supporting umcompressed public keys. Can you confirm it?

[2016-01-19 15:31] subhasaha commented on #7
So what can we do as a solution because I am stuck here for a lot of days :)

[2016-01-19 15:40] josecelano commented on #7
@subhasaha If you are using the BlocCypher API to generate the address you get the private key, the compressed public key and the bitcoin address, so you should not have problem.

If you are using another library, it depends. Probably you have an option/setting, etc. to use compressed public keys.

But we should confirm that is your case. Could you send me a sample address (private and public key)

[2016-01-19 16:43] subhasaha commented on #7
Thank you for ur help.

[2016-01-19 16:43] #7 closed

[2016-01-19 17:16] UpalChakraborty commented on #5
Yes. The issue was caused by uncompressed public keys. Thank you so much for your help. Closing this issue now.

[2016-01-19 17:16] #5 closed

[2016-01-19 17:24] josecelano commented on #6
hi @LSDx is your problem fixed? Can I close this issue? I will release a new version with default validation level to `log`.

[2016-01-19 18:59] UpalChakraborty opened #8 "Unable to create transaction for multiple addresses"
How do I create a transaction using blockcypher API where funds are sent from multiple addresses to multiple addresses? The following sample is providing one to one example only...

http://blockcypher.github.io/php-client/sample/doc/transaction-api/CreateTransaction.html

Following modification for one to many is throwing error...

[code]

[2016-01-20 15:35] josecelano commented on #8
You can do it this way:

[code]
Or using the builder classes:

[code]

[2016-01-20 19:40] UpalChakraborty commented on #8
Bingo! It is working exactly as it should be. Thanks for the help. Closing this issue.

[2016-01-20 19:40] #8 closed

[2016-01-22 17:11] toneloc opened #9 "Formatting error on "File based configurations" instructions"
[code]

'webhook' should be 'webHook'

[2016-01-22 17:40] josecelano commented on #9
Hi @toneloc I can not find the file containing that code:

https://github.com/blockcypher/php-client/search?utf8=%E2%9C%93&q=%24webhook-%3EsetEvent%28%27unconfirmed-tx%27%29%3B

[2016-01-22 17:41] josecelano commented on #9
OK sorry @toneloc I have found in the wiki:

https://github.com/blockcypher/php-client/wiki/File-based-Configurations

Thanks.

[2016-01-22 17:43] josecelano commented on #9
Fixed, FYI you have more docs in: http://dev.blockcypher.com/?php#

[2016-01-22 17:43] #9 closed

[2016-01-23 12:50] LSDx commented on #6
Hi, @josecelano .
Yes, the problem is gone! Thank you!

[2016-01-28 21:25] acityinohio opened #10 "Support new confidence changes"
Shouldn't be a massive change:
https://medium.com/blockcypher-blog/important-changes-to-blockcypher-s-confidence-api-7bbd283e099c

[2016-01-29 22:55] acityinohio commented on #10
Closing out in favor of this PR: https://github.com/blockcypher/php-client/pull/11 . Thanks @josecelano!

[2016-01-29 22:55] #10 closed

[2016-01-30 22:33] josecelano commented on #6
With this new release: https://github.com/blockcypher/php-client/releases/tag/v1.3.0
default validation level is set to `log` if it is not defined in config.

[2016-01-30 22:33] #6 closed

[2016-01-30 23:37] josecelano opened #12 "Update list of allowed params"
Some API endpoints allow new flags (url parameters). We have to update clients with the list of new params.

New allowed params are:
* AddressClient::getBalance: omitWalletAddresses
* AddressClient::get: includeScript
* WalletCLient::addAddresses: omitWalletAddresses
* WalletClient::getWalletAddresses: used, zerobalance
* WalletClient::deriveAddress: count, subchain_index (NOT IMPLEMENTED YET)
* T

[2016-01-30 23:45] josecelano opened #13 "Add new API endpoints"
* [Derive Address in Wallet Endpoint](http://dev.blockcypher.com/#derive-address-in-wallet-endpoint)
* [Get Metadata Endpoint](http://dev.blockcypher.com/#get-metadata-endpoint)
* [Put Metadata Endpoint](http://dev.blockcypher.com/#put-metadata-endpoint)
* [Delete Metadata Endpoint](http://dev.blockcypher.com/#delete-metadata-endpoint)
* [Generate Asset Address Endpoint](http://dev.blockcypher.com

[2016-02-19 09:50] flxstn opened #14 "Update bitwasp/bitcoin dependency"
It would be great to use a newer version of bitwasp/bitcoin.

[2016-02-22 17:30] josecelano commented on #14
Yes @flxstn I tried to update it but there was a change in the API and it's not a simple update in composer. It's something in the TODO list ;-)

[2016-02-22 18:38] rtarnaud opened #15 "Confidence property type in BlockCypher\Api\TX might be wrong"
Hello Jose,

When calling the 'get' method of the TXClient to retrieve info about a transaction, you get a Tx object as the return value of 'get'. However the confidence property of Tx is of type 'int' according to the phpdoc lines of TX.php. Should not it be 'float' or maybe 'string' as it is a real number comprised between 0 and 1? (btw, that's what you get if you call the webservice directly by

[2016-02-22 22:36] josecelano commented on #15
Hi @rtarnaud , yes you are rigth that property should be `float` in phpdoc. Anyway It should return a `float` if the json response is a float number. I have changed the phpdoc.

The latest release: https://github.com/blockcypher/php-client/releases/tag/v1.3.0
have been changed to allow the new  `includeConfidence` parameter in `TXCLient::Get` method:

https://github.com/blockcypher/php-client/blob

[2016-02-23 10:43] rtarnaud commented on #15
That's perfect, thanks again!

[2016-02-23 11:52] josecelano commented on #15
You're welcome. Thanks for your feedback.

[2016-02-23 11:52] #15 closed

[2016-05-05 21:07] binarystorm opened #16 "Segfault caused by CURLOPT_HTTPHEADER => array()"
As described here [https://bugs.php.net/bug.php?id=71703](https://bugs.php.net/bug.php?id=71703) the assignment of an empty array to CURLOPT_HTTPHEADER in BlockcypherHttpConfig.php can lead to a segfault.

[2016-06-13 23:06] acityinohio opened #17 "HD Wallet API Should Use "Derive" Address Instead of "Generate""
Hi @josecelano, any chance you could take a look at the HD Wallet address derivation endpoint? Specifically this method:

https://github.com/blockcypher/php-client/blob/master/lib/BlockCypher/Api/HDWallet.php#L175

A customer provided us some feedback that this line should be using "derive" instead of "generate":

https://github.com/blockcypher/php-client/blob/master/lib/BlockCypher/Api/HDWallet.p

[2016-06-14 10:28] josecelano commented on #17
Hi @acityinohio I will take a look, I have some minor bug fixes pending to do but I have been very busy.

[2016-06-14 20:51] josecelano opened #18 "Add Feature Endpoint"
Add `Feature Endpoint`

http://dev.blockcypher.com/?shell#feature-endpoint

[2016-06-14 21:10] josecelano opened #19 "Change TXClient::create signature"
New Transaction Enpoint allows a flag `includeToSignTx`:

http://dev.blockcypher.com/?shell#creating-transactions

Change signature to:

[code]

[2016-06-14 21:27] #12 closed

[2016-06-14 21:33] #16 closed

[2016-06-14 21:34] josecelano commented on #16
Thank you @binarystorm and sorry for the delay. I have fixed and soon I will release version v1.3.1.

[2016-06-14 22:11] josecelano commented on #17
Hey @acityinohio I am working on the change but there are more changes:

* HDWalletGenerateAddressResponse has been removed.
* HDChain and HDAddress have been added.

I think I will finish tomorrow and I will relase v1.3.1

[2016-06-15 00:48] acityinohio commented on #17
Thanks so much @josecelano! Very much appreciated.

[2016-06-15 22:27] josecelano commented on #17
Fixed with commit e03ca1b3b7ccb2398a88bbfeb67d1ff803ede178.

Anyway now they should not use HDWallet, they should use HDWalletClient. In fact, I have not added the method in HDWallet, it¡s in HDWalletClient::deriveAddress

https://github.com/blockcypher/php-client/blob/master/lib/BlockCypher/Client/HDWalletClient.php#L251

Since previous versions I have been moving static methods from API resource

[2016-06-15 22:27] #17 closed

[2016-06-19 21:42] #18 closed

[2016-10-07 09:42] nareshkr22 opened #20 "DEBUG : Missing Accessor: BlockCypher\Api\TX:setBlockIndex."
BlockCypher\Validation\ModelAccessorValidator: DEBUG    : Missing Accessor: BlockCypher\Api\TX:setBlockIndex.
While Creating a transaction

[2016-10-07 09:43] nareshkr22 opened #21 "Uncaught TypeError: Argument 1 passed to Mdanter\\Ecc\\Math\\GmpMath::cmp() must be an instance of GMP, string given"
A string is given in the /var/www/html/btc/lib/vendor/bitwasp/bitcoin/src/Crypto/EcAdapter/BaseEcAdapter.php->checkInt('105825702696369...', Object(GMP))  which throws error of

\GmpMath::cmp() must be an instance of GMP, string given,

[2016-11-04 15:59] emabusi commented on #21
Getting the same error, were you able to solve this?

[2016-11-04 16:00] emabusi opened #22 "Unable to send transaction problem with Mdanter\Ecc\Math\Gmp IN bitwasp\bitcoin"
I have just setup the client and after following the sample code I get the error below

Class 'Mdanter\Ecc\Math\Gmp' not found in C:\xampp\htdocs\cck\vendor\bitwasp\bitcoin\src\Math\Math.php on line 8

I checked file the vendor and there is Gmp file or class in Mdanter\Ecc\Math\Gmp, so i edited the math.php file and edited line 6 to use \Mdanter\Ecc\Math\GmpMath as Gmp; and now get the error like

[2016-11-04 17:03] josecelano commented on #21
Hi @nareshkr22 @emabusi sorry for the delay. I have been very busy. Could you paste the complete trace for the exception? At least from the first method in the php client which calls the vendor.

[2016-11-04 21:40] 5chdn commented on #21
ref http://stackoverflow.com/q/40428066/1260906

[2016-11-05 13:53] josecelano commented on #21
Hi @5chdn I have just executed your code and I get this response:

[code]

And this is the new transaction created:

https://live.blockcypher.com/btc/tx/998817b261be48adfe88cb4d8095fea3a1bbc08ed1264c6a04d1fddca553366b/

Could you paste here your `composer.lock` ? I want to check your vendors versions. Probably you are using a new vendor release which is not compatible with the current php-release.

[2016-11-05 14:07] josecelano commented on #21
I have added a comment in:

[2016-11-05 14:25] josecelano commented on #22
Hi @emabusi I think it's the same problem as issue #21. I think the library `bitwasp/bitcoin` version `0.0.7` can not user higer versions than `0.3.1` for library `mdanter/ecc` so it seems to be a dependency problem between those libraries. For me it works with:

[code]

Try to put this explicit dependency in your app:
"mdanter/ecc": "0.3.0",
and if that works we can open an issue in `bitwasp/bitc

[2016-11-05 14:39] josecelano commented on #20
Hey @nareshkr22 which validation level are you using? That error is thrown only when you enable `strict`mode for validation.

You can set that option using the `sdk_config.ini` file:

[code]

Or directly when you create the APiContext:

[code]

[2016-11-05 21:52] 5chdn commented on #21
I'm not affected, just thought it might be related and worth to link back.

[2016-11-08 07:23] emabusi commented on #21
@josecelano

{
    "_readme": [
        "This file locks the dependencies of your project to a known state",
        "Read more about it at https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file",
        "This file is @generated automatically"
    ],
    "hash": "098bacec3413d247dbb255efb93ed293",
    "content-hash": "52273417525b7fe1c0359374d13336db",
    "packages": [

[2016-11-08 08:05] josecelano commented on #21
@emabusi try to add this dependency in your `composer.json`:

` "mdanter/ecc": "0.3.0" `

That should downgrade your version to the latest compatible. I have opened an issue in the library we use:

[2016-11-08 20:44] emabusi commented on #21
@josecelano Note that there other dependencies that use 0.4... that is `"bitwasp/buffertools"` and `"lastguest/murmurhash"`

Am also getting the error below after adding `"mdanter/ecc": "0.3.1"` in my `composer.json`

  Problem 1
    - blockcypher/php-client v1.3.1 requires bitwasp/bitcoin 0.0.7 -> satisfiable by bitwasp/bitcoin[v0.0.7].
    - blockcypher/php-client v1.3.1 requires bitwasp/bitcoin

[2016-11-10 23:11] josecelano commented on #21
Yes @emabusi , @afk11 has fixed the problem:
https://github.com/Bit-Wasp/bitcoin-php/pull/382#issuecomment-259748784

I have just tested his changes and it seems to work. I have used his new branch, deleted my `composer.lock` and `composer install` again. Once he creates the new release `v0.0.7.1` I will release a new version with that new dependency version. But some tests were broken because som

[2016-11-13 14:30] emabusi commented on #21
@josecelano the code mentioned in https://github.com/blockcypher/php-client/issues/21#issuecomment-258612993 is mine, as we wait for the update with a fix I would like to know how you made it work

[2016-11-13 17:34] emabusi commented on #20
@nareshkr22 were you able to solve this? @josecelano tried the above solution but it didnot work

[2016-11-13 19:47] GabrielAugustoTI opened #23 "Got Http response code 500"
Got Http response code 500 when accessing https://api.blockcypher.com/v1/btc/main/txs/micro?token=

{"error": "Error building micro transaction: Not enough funds in 0 inputs to pay for 1 outputs, missing -7000."}
But input has a unconfirmed transaction to pay 1 output;..
https://live.blockcypher.com/btc/tx/d665d9b0706dae793f4a98ee78ed9e1bb987635295dcab55b8923d4add2df7ab/

http://prntscr.com/d6u35y

[2016-11-13 20:14] GabrielAugustoTI commented on #23
Unconfirmed transaction can't used for micro transactions! Please fix!

[2016-11-14 19:09] acityinohio commented on #23
Without an available and confirmed UTXO, we cannot generate the transaction; to the API, it looks like there are no funds available, hence the error message.

Longer term, we may start looking into payment channel-based solutions for microtransactions in the future, which could reduce these sorts of headaches. We're hoping something like the Lightning Network could help with this.

[2016-11-14 22:35] josecelano commented on #22
Hey @emabusi try to run:

[code]

to update `blockcypher/php-client` to latgest version `v1.5.0`. The problem with dependencies should be fixed.

[2016-11-14 22:36] josecelano commented on #21
Hey @emabusi as I told you in the other issue #22 try to run:

[code]

to update `blockcypher/php-client` to latgest version `v1.5.0`. The problem with dependencies should be fixed.

[2016-11-14 22:56] josecelano commented on #20
Hi @emabusi @nareshkr22 could you please paste a sample code to reprocuce the problem or the content in the log file? I would like to see the response and the error log if it's possible. And do you have the same error if you disable validation with `validation.level = disabled`?

When I execute this sample (included in the library):

[code]

I get this content in log file:

[code]

But it works. `

[2016-11-14 23:00] josecelano commented on #23
Thanks @acityinohio @GabrielAugustoTI I think we can close this issue.

[2016-11-14 23:01] josecelano commented on #23
Thanks @acityinohio @GabrielAugustoTI I think we can close this issue.

[2016-11-14 23:01] #23 closed

[2016-11-15 23:24] emabusi commented on #21
@josecelano After updating it works well, all the error mentioned @nareshkr22 come from the same problem and now everything is working well

[2016-11-15 23:27] emabusi commented on #22
for reference this issue was solved as shown https://github.com/blockcypher/php-client/issues/21

[2016-11-15 23:27] #22 closed

[2016-11-15 23:28] emabusi commented on #20
@nareshkr22 kindly close this issue as its solved already https://github.com/blockcypher/php-client/issues/21
@josecelano thanks a lot mate

[2016-11-16 08:21] josecelano commented on #20
👍

[2016-11-16 08:21] #20 closed

[2016-11-16 08:23] josecelano commented on #21
I am glad to hear that @emabusi

[2016-11-16 08:23] #21 closed

[2016-11-23 17:27] AugustoResende opened #24 "Error! Please fix!"
exception 'InvalidArgumentException' with message 'Argument with name hexDataToSign is not an array' in /var/www/html/api/php-client/blockcypher/php-client/lib/BlockCypher/Validation/ArgumentArrayValidator.php:23 Stack trace: #0 /var/www/html/api/php-client/blockcypher/php-client/lib/BlockCypher/Crypto/Signer.php(27): BlockCypher\Validation\ArgumentArrayValidator::validate(NULL, 'hexDataToSign') #

[2016-11-23 18:11] GabrielAugustoTI commented on #24
Now only says:

[23-11-2016 06:12:15] BlockCypher\Core\BlockCypherHttpConnection: INFO	: POST https://api.blockcypher.com/v1/btc/main/txs/micro?token=29252d675d8d429181aee1546246a65a
[23-11-2016 06:12:17] BlockCypher\Core\BlockCypherHttpConnection: INFO	: Response Status 	: 500
[23-11-2016 06:12:17] BlockCypher\Core\BlockCypherHttpConnection: ERROR	: Got Http response code 500 when accessing https

[2016-11-23 23:23] josecelano commented on #24
Could you try to reproduce the problem with one of the `php-client`samples?. For example:

You can create a new BCY address, fund it with BlockCypher test chain coins, and try to reproduce the problem running this sample:

[code]
You can run it from console.

Maybe you are using a wrong private key. You can also try to execute this sample:

[code]

With this sample you will get feedback after each

[2016-11-23 23:26] GabrielAugustoTI commented on #24
No, i am using a correct private key...
Normal TX works!
I will try reproduce!

[2016-11-23 23:29] GabrielAugustoTI commented on #24
Even yesterday was working!

[2016-11-23 23:33] josecelano commented on #24
OK @GabrielAugustoTI I also will try to execute both types with the same private key. Anyway it could be useful if you tell me what's different from yesterday, do you use the same private key? did you update some dependencies? PHP version? ...

[2016-11-23 23:35] GabrielAugustoTI commented on #24
Same private key, same dependencies, same PHP version, same Blockcypher client...
And sendwithprivatekey works fine, but sendwithprivatekey is insecure and not include fee, is very bad

[2016-11-25 22:55] josecelano commented on #24
Hi @GabrielAugustoTI . I have just executed this test and it works:

I have created this new BlockCypher testnet address:

[code]
Then I have funded the address with the faucet (100000 satoshis) using this sample script:
[code]
And finally I have created a transaction from address `BzDhN53gVsn175V439Dbt2DY1R69TzFNMF` to the address `C4MYFr4EAdqEeUKxTnPUF3d3whWcPMz1Fi` (10000 satoshis) using the sa

[2017-01-13 11:09] l0rb opened #25 "error:141640B5:SSL routines:tls_construct_client_hello:no ciphers available"
I am getting

error:141640B5:SSL routines:tls_construct_client_hello:no ciphers available
from blockcypher/php-client/lib/BlockCypher/Transport/BlockCypherRestCall.php(72): BlockCypher\Core\BlockCypherHttpConnection->execute('')

using version 1.5.0
Why is this happening and how to fix it?

[2017-01-13 12:18] l0rb commented on #25
I created a pull request that fixes this issue. https://github.com/blockcypher/php-client/pull/26

[2017-02-10 18:55] AugustoResende opened #27 "Uncompressed public keys not working?"
Really is not possible make transactions using uncompressed public keys? I REALLY need this or i will need abandon blockcypher apis...

[2017-02-10 19:09] matthieu commented on #27
"Because they’re easy to use, and because they reduce almost by half the block chain space used to store public keys for every spent output, compressed public keys are the default in Bitcoin Core and are the recommended default for all Bitcoin software."
- https://bitcoin.org/en/developer-guide#public-key-formats

[2017-04-15 12:21] danaki opened #28 "Implement PSR-3"
Please log using standard PSR-3, instead of error_log, thus a logger can be injected into objects.

[2017-04-17 16:11] josecelano commented on #28
Thanks @danaki that's a good idea. I have to think how to add that change without breaking backward compatibility. I think we could add an `ApiContext->setLogger(LoggerInterface ...)`method to add an extra logger. That logger could be called in all places where we currently use `BlockCypherLoggingManager`. We can not totally replace that one becuase I think it's very useful to have a out-of-the-bo

[2017-04-27 18:27] danaki opened #29 "Faucet needs to validate amount as int"
POST https://api.blockcypher.com/v1/bcy/test/faucet?token=MY_TOKEN

Request: string(62) "{"address":"BvngfRB42j2125T6U84hAWUphYDjJg4zpp","amount":"10"}"

Response:
string(453) "HTTP/1.1 400 Bad Request
Server: nginx/1.11.10
Date: Tue, 25 Apr 2017 13:18:49 GMT
Content-Type: application/json
Content-Length: 97
Connection: keep-alive
Access-Control-Allow-Headers: Origin, X-Requested-With, Content-Typ

[2017-05-08 19:29] josecelano commented on #29
Hi @danaki Sorry for the delay I've been very busy. Did you see this sample?:

https://github.com/blockcypher/php-client/blob/master/sample/introduction/FundAddressWithFaucetEndpoint.php#L19

I have not tried to reproduce it yet but it could be becuase you are using an string for the amount instead of an integer. Could you tried casting to integer if that is the case?

I think the problem must be

[2017-05-08 21:05] danaki commented on #29
Yes, but seems that this https://github.com/blockcypher/php-client/blob/17e6319fb61a4b8745dd1b977a9e7adc2c488be5/lib/BlockCypher/Client/FaucetClient.php#L33 passes string thru just because http://php.net/manual/en/function.is-numeric.php is_numeric — Finds whether a variable is a number *or a numeric string*.

[2017-05-15 16:38] danaki opened #30 "Change address same as output"
I'm trying to initiate a test transaction in main/btc where the input address is the same as output, but it seems that in such case the change address is missing and I can't se a possibility to specify it. Here my code:
[code]

And here what appears in logs (AAAAAAAAA is my bitcoin address). See only one output and no output for change:

[code]

[2017-05-15 17:35] danaki commented on #30
The problem is not related to change address. Investigating.

[2017-05-15 17:35] #30 closed

[2017-05-16 09:41] brijitjoshua opened #31 "API LIMITS HAVE REACHED"
Response Object

Got Http response code 429 when accessing https://api.blockcypher.com/v1/btc/main?token=c0afcccdde5081d6429de37d16166ead.

{
    "error": "API calls limits have been reached. To extend your limits please upgrade your plan on BlockCypher accounts page."
}

PS: I'm getting this response after configuring the whole setup of the official sdk .I cannot try samples.i have tried changing

[2017-05-16 09:59] josecelano commented on #31
Hi @brijitjoshua You have to sign up here:

https://accounts.blockcypher.com/

and get your own token. The free plan has a rate limit (total amount per month and 3 request per second).

[2017-05-17 04:22] brijitjoshua commented on #31
Hello,
I signed up and  got my own token and changed the token in the sdk(
first.php, second.php, boostrap.php)  and still I'm getting that error.
Please help me fix this error.

On Tue, May 16, 2017 at 3:29 PM, Jose Celano <notifications@github.com>
wrote:

--

*Brijit        *

[2017-05-29 20:26] hakerkiler opened #32 "Problem with create transaction"
Hi. I work with your https://www.blockcypher.com/dev/dash/#creating-transactions API

In this pack I not found \BlockCypher\Api\Output , \BlockCypher\Api\Input this two fail and i can't create transaction

Need your help please

Thanks

[2017-06-27 15:58] menriquez commented on #32
hi...i was getting ready to start using this API and was wondering if you every solved this issue and if so, how?

i certainly do not want to begin development with an API that has issues with transactions...

thanks

[2017-06-27 17:03] josecelano commented on #32
Sorry @hakerkiler @menriquez I am the only mantainer of this package and I have been very busy. I would try to check it asap.

@hakerkiler I think your problem could be that the documentation is outdated and those classes were renamed in newer versions. You can find a lot of samples in this folder:
https://github.com/blockcypher/php-client/blob/master/sample/transaction-api/CreateTransactionToFund

[2017-06-27 18:10] menriquez commented on #32
hey @josecelano ...awesome thanks for the quick reply..\gotcha about the wrapper...i am sure id have little problem building my own if I find issues.

I look forward to beginning work with this and am very heartened by the fact you are "lurking around" keeping an eye on things.

regards
- mark

[2017-06-27 19:40] ofumbi opened #33 "API/Webhook Lacking confirmations Getter/Setter. Plus its unfair to limmit API access for developers"
This error shows up when trying to setup a web-hook, and honestly 200 calls an hour are to little when trying top develop a wallet.( I have to wait just to test and debug an issue, your api has realy wasted my working time. I only wish I had advised the client to host his own blockchains, wont be taking jobs to anymore to develop any apps on your platform for I have never seen any service that bil

[2017-06-28 07:21] #25 closed

[2017-06-28 07:23] josecelano commented on #31
Hey @brijitjoshua the free plan has this limits:

[code]

[2017-06-28 07:23] #31 closed

[2017-06-28 07:23] #27 closed

[2017-06-29 21:22] matthieu commented on #33
Frankly, 200 calls an hour has been enough for the great majority or developers we've seen. And we have to still be able to monetize once people go to later stages.

[2017-06-29 21:22] #33 closed

[2017-07-04 20:26] nwa070 opened #34 "Am having issues creating transaction and sending it to the network"
Please help me out, i can create address and i can get address balance but my problem now i can not create transaction, even when i tried to use btc test net it still not working, but when i try the default sample source code, the code works fine both in btctest net and and sample code.
These are the error i keep on getting
"Got Http response code 400 when accessing https://api.blockcypher.com/v1/

[2017-07-18 01:56] gomesandre opened #35 "Can't Send Transaction [Script was NOT verified successfully]"
I'm having trouble to send a Transaction.
I can create and sign it, but I keep getting errors.
I believe I'm using the right format:

`{
      "tx":{...},
      "tosign":[""],
      "pubkeys":[""],
      "signatures":[""]
} `

I'm using Laravel and when I try to send it on my locally I keep getting this error:

When I try in production I get this error:

But I'm passing the data exactly like in th

[2017-07-20 15:32] miccgiov opened #36 "Ritiro bilanci"
Buonasera vorrei cortesemente sapere come fare a ritirare i fondi rimasti in bilancio,chiedo scusa ma non riesco proprio a capirlo,sarà la mia età,ringrazio anticipatamente chi mi potrà essere di aiuto in questa mia richiesta.
Un saluto da Gianni

[2017-07-20 16:11] josecelano commented on #35
Hi @gomesandre could you please try to reproduce the problem with BlockCyher Tesnet addresses and paste here the request/reponse to the API? And also the sample code you are using. You can use one of the samples provided in the sample https://github.com/blockcypher/php-client/tree/master/sample folder.

The problem could be: uncompressed keys or missing private keys for some inputs.

[2017-07-20 16:23] josecelano commented on #34
Hi, that API enpoint  `https://api.blockcypher.com/v1/bcy/test/txs/new?token=` is for BlockCypher tesnet, and the address `1JHMjL7V3heBZYieNcyHaqvy2aPA5fmY7S`  is a Bitcoin mainnet address.

* Unable to find a transaction to spend for address 1JHMjL7V3heBZYieNcyHaqvy2aPA5fmY7S -> Address `1JHMjL7V3heBZYieNcyHaqvy2aPA5fmY7S` has no balance.
* Error building transaction: Invalid output address: wron

[2017-07-20 16:32] josecelano commented on #36
Buonasera, non ho capito molto bene la domanda. Dove sono i fondi?. Se sono su uno delle indirizze da lei usato in qualche esempio, drová creare una nuova transazione per trasnferirli in un altro indirizzo oppure importare la chiave privata usando un altro wallet.

[2017-07-20 17:49] miccgiov commented on #36
Chiedo nuovamente scusa per il mio disturbo,mi potrebbe dire i passaggi da fare? sa ho una certa età e non vorrei commettere errori,la prego cortesemente di comunicarmi i vari passa

----Messaggio originale----

Da: "Jose Celano" <notifications@github.com>

Data: 20/07/2017 18.32

A: "blockcypher/php-client"<php-client@noreply.github.com>

Cc: "miccgiov"<miccgiov@libero.it>, "Author"<author@norepl

[2017-07-20 17:56] miccgiov commented on #36
Chiedo nuovamentescusa per il disturbo che potrei dare,il mio problema è che ho dei bilanci in attivo su dei conti sia bitcoin che litecoin,potrebbe cortesemente dirmi che passaggi dovrei fare in modo da poterli ritirare? sa ho una certa  età e non vorrei commettere errori e perdere le mie piccole somme,le sarei grato se potesse aiutarmi sul come eseguire le operazioni per poter ritirale o inviare

[2017-07-22 08:23] miccgiov opened #37 "Recupero bilanci"
Chiedo nuovamentescusa per il disturbo che potrei dare,il mio problema è che ho dei bilanci in attivo su dei conti sia bitcoin che litecoin,potrebbe cortesemente dirmi che passaggi dovrei fare in modo da poterli ritirare? sa ho una certa  età e non vorrei commettere errori e perdere le mie piccole somme,le sarei grato se potesse aiutarmi sul come eseguire le operazioni per poter ritirale o inviare

[2017-08-05 12:01] miccgiov commented on #36
i fondi sono su blockcypher mi potrebbe aiutare a come eseguire i passaggi da lei spiegati non sono molto esperto ho 60 anni quindi sono sicuro di fare qualche sbaglio senza un aiuto di una persona preparata come lei grazie

[2017-08-05 12:01] #36 closed

[2017-08-12 20:54] hakerkiler commented on #32
One more question
`[2017-08-12 20:37:28] local.INFO: HTTP/1.1 400 Bad Request
Server: nginx/1.11.10
Date: Sat, 12 Aug 2017 20:37:28 GMT
Content-Type: application/json
Transfer-Encoding: chunked
Connection: keep-alive
Access-Control-Allow-Headers: Origin, X-Requested-With, Content-Type, Accept
Access-Control-Allow-Methods: GET, POST, PUT, DELETE
Access-Control-Allow-Origin: *
X-Ratelimit-Remaining:

[2017-08-22 21:31] jda1586 opened #38 "bitwasp and mdanter"
I have installed version 1.5.0 of blockcypher/php-client
Mdanter version change to 0.4.2 but bitwasp 0.0.7.1 is not compatible with it so when blockcypher/php-client is installed in Laravel 5.4.x and you try to create a transaction it has this bug:

When installing bitwasp 0.0.7.1 the dependency requests "mdanter/ecc": "~0.3" so composer will install mdanter/ecc version 0.4.2. If I forced the inst

[2017-08-23 17:14] rsbombard commented on #38
@jda1586  I'm having the exact same issue, actively trying to resolve it right now.

[2017-08-23 19:10] rsbombard commented on #38
@jda1586

I was able to get this working by forking https://github.com/phpecc/phpecc and bumping the symfony console version to 3.36 (https://github.com/rsbombard/phpecc/blob/bugfix/composer.json) and then aliasing the mdanter/ecc package in my composer.json.

[code]

Not exactly a good fix but at least it's working for now.

[2017-08-23 22:34] jda1586 commented on #38
Thank you. I will try this and back with the result

[2017-08-24 08:43] josecelano commented on #38
Hi, that's an old TODO:

https://github.com/blockcypher/php-client/issues/14

I have to update to the latest version of `bitwasp/bitcoin` but there was a change in the API in a method we are using. I do not remmeber now what was the method but I think it was something related to the signature. You can run the tests to be sure your change does not break any feature. I hope I will have time soon to

[2017-09-01 06:31] H3avyus3r opened #39 "Never received confirmation email"
Cannot find a way to resend.

[2017-09-03 17:25] #39 closed

[2017-09-08 21:09] ftppro opened #40 "Error when requesting ether from faucet"
Instead of using the php-client, I am using the following code to request ether from the faucet:

[code]

This returns the following message:
"Error decoding faucet info, invalid character 'a' looking for beginning of value."

My address and token have been verified by your other functions to be correct.

[2017-09-10 12:37] aleksandrzhiliaev opened #41 "Old version on packagist"
Hey, looks like you didn't update version on packagist:
https://packagist.org/packages/blockcypher/php-client
it is from November

[2017-09-10 14:40] ftppro opened #42 "How to create transaction signature for blockcypher ethereum API"
The transaction signing process for the blockcypher ethereum API is explained here:
https://www.blockcypher.com/dev/ethereum/#creating-transactions

When their "addrs" endpoint is called, their API creates a new ethereum address, and a 64-character private key is provided.

When their "/txs/new" endpoint is called, their API provides a "tosign" string which must be used with the 64-character priva

[2017-09-10 15:03] aleksandrzhiliaev commented on #41
Also one question, will you support Ethereum API in php-client?
Now I am getting this when trying to create new transaction:
[code]

[2017-09-11 17:01] l0rb commented on #41
Python client on pypi is also outdated.

[2017-09-13 08:16] giangitman opened #43 "Cannot call contract method Ethereum"
Hi,

I try to transfer amount of GNT, but it get this error: {"error": "Error calling contract: Missing contract or ABI for a74476443119a942de498590fe1f2454d7d4ac0d.."}

- CURL I use:
curl -d '{"private":"myprivatekey","gas_limit":20000,"params":["F0f36cC52938A6A4377c6d3B838A9df5A2c28651","5"], "abi":"[{\"constant\":true,\"inputs\":[],\"name\":\"name\",\"outputs\":[{\"name\":\"\",\"type\":\"string

[2017-09-13 08:42] josecelano commented on #43
Please contact support directly. That does not seem to be a php-client especific problem.

https://www.blockcypher.com/#contactus

[2017-09-13 09:01] giangitman commented on #43
Okay, but don't close this issue. I'll close by myself when I get the final result.

[2017-09-24 02:43] lawrencefinn opened #44 "gas limit"
how do you set the gas limit in the TX?  The API Docs say
"By default, creating a transaction that sends to an external account sets the gas_limit to 21000. For contract account recepients, that limit is raised to 80000. If you’d like to set a custom limit, add gas_limit to your request object. "
But I dont see this functionality in the php api

[2017-09-26 07:06] ShoaibSK opened #45 "Fatal error: Uncaught BlockCypher\Exception\BlockCypherSignatureException: 1 private keys do not correspond to any input. Please check private keys provided."
I am working on blockcypher create sign and send transaction example. I am able to create new transaction every time however when i am signing the transaction i am getting following error.

Fatal error: Uncaught BlockCypher\Exception\BlockCypherSignatureException: 1 private keys do not correspond to any input. Please check private keys provided. in C:\xampp_new\htdocs\opaldemoareabit\Blockcypher\b

[2017-10-10 08:38] sachin-lalaworld opened #46 "Class 'Mdanter\Ecc\\Math\Gmp' not found"

[2017-10-12 11:01] hoochiedad opened #47 ""error": "Limit of payments created exceeded. Please check your account limits and upgrade your plan.""
I am trying to add bitcoin to my account on site http://fightckxiykml2xu.onion/addFunds.php and every time I put the amount to add and click pay which usually generates a invoice/btc address it takes me to a site that displays  1. Create forwarding address (failed) Response Object

Got Http response code 429 when accessing https://api.blockcypher.com/v1/btc/main/payments?token=a0ccf889ea0a48e99b11

[2017-10-16 08:26] ofumbi commented on #46
I also have this problem. Have you got a solution? because I had to mess up my dependencies to make it work .  Its a problem in bitwasp/boitcoin 0.0.7.*  You remove blockcypher and install bitwasp/bitcoin dev-master. it works fine. Problem is now You don't have blockcypher.

[2017-10-17 04:48] sachin-lalaworld commented on #46
@ofumbi Yes I have got solution. Don't remove blockcypher. Please follow the following steps:

1. Install blockcypher using composer
composer require blockcypher/php-client

2. Then add following content in composer.json
"require": {
"mdanter/ecc": "dev-bugfix as 0.3.0"
}

3. Then run composer update command on terminal.

[2017-10-18 15:52] imbhaumik opened #48 "send and receive report"
How to get send and receive report for address? the transaction api gives so many inputs and outputs. how to know which one is correct?

[2017-10-19 13:47] ofumbi commented on #46
@sachin-lalaworld  Thanks.  it works now

[2017-10-26 06:31] Govind13100 opened #49 "Error while doing transaction dynamically : {"error": "Couldn't deserialize request: math/big: cannot unmarshal "\"1000\"" into a *big.Int"}"
{"error": "Couldn't deserialize request: math/big: cannot unmarshal "\"1000\"" into a *big.Int"}

I tried curl with POST and GET both but for amount it is returning the above error, please help me if anyone can. I am stuck into this from last 1 day.

[2017-11-04 08:44] forddyce opened #50 "Where is $apiContexts located?"
Tried your example at http://blockcypher.github.io/php-client/sample/doc/address-api/GenerateAddress.html

Just realized `$apiContexts` need to be created first. In your example it is an array:

[code]

Where can I find your `$apiContexts` ?

[2017-11-04 08:50] forddyce commented on #50
And by the way I installed it via composer. `\BlockCypher\Client\AddressClient` class not found, in fact the Client folder does not even exists.

[2017-11-04 10:37] josecelano commented on #50
$apiContexts are created in the bootstrap file:

https://github.com/blockcypher/php-client/blob/master/sample/bootstrap.php#L106

You can also use a config file. More info in the wiki:

https://github.com/blockcypher/php-client/wiki

Regarding your class not found error you probably are using an old client version. YOu should use the lastest release:

https://github.com/blockcypher/php-client/rele

[2017-11-06 06:28] Govind13100 opened #51 "Does this library also supports for LTC ???"
I want to know that is it possible to generate LTC testnet address using this library ???

[2017-11-06 07:07] josecelano commented on #51
BlockCypher API does not support LTC testnet.

https://www.blockcypher.com/dev/bitcoin/?shell#restful-resources

[2017-11-06 07:07] #51 closed

[2017-11-06 08:41] forddyce opened #52 "Which one is private key?"
Say if I generate an address:

`{ "token": "8ad5d84c879f4a*********3", "name": "test", "addresses": [ "1P6r37EhR28YX************************" ] }`

And I want to send simple MicroTX, like from your example:

[code]

Is the private key the `token` generated from address?

[2017-11-06 08:42] #50 closed

[2017-11-06 08:48] josecelano commented on #52
No, It's not.

If you are using the generate address en wallet endpoint you response should be like this:

[code]

The private key is:

[code]

[2017-11-06 09:26] forddyce commented on #52
This is all I see:

`{ "token": "8ad5d84c879f4a0d8537fb481bbdc103", "name": "test", "addresses": [ "1P6r37EhR28YXqtSYTH4G8CFgKZD89FJ36" ] }`

I generate wallet with this:

[code]
Or did I generate the wallet wrong?

[2017-11-06 09:37] forddyce commented on #52
My bad, it is on the generate new address

[2017-11-06 09:37] #52 closed

[2017-11-07 10:04] murich commented on #43
@giangitman , any results ?

[2017-11-07 12:23] giangitman commented on #43
@murich not yet. I built my own full node.

[2017-11-13 06:50] pxgamer commented on #41
The version on Packagist is v1.5.0 which is the latest one available here. :thinking:

[2017-11-30 00:39] oyepez003 opened #54 "Class 'Mdanter\Ecc\Math\Gmp' not found"
[Symfony\Component\Debug\Exception\FatalErrorException]
Class 'Mdanter\Ecc\Math\Gmp' not found

Error with the latest version of blockcypher...

[2017-11-30 00:46] oyepez003 commented on #46
@sachin-lalaworld Today I got the next error:

  Problem 1
    - bitwasp/buffertools v0.4.1 requires mdanter/ecc ~0.4 -> satisfiable by mda
nter/ecc[0.4.x-dev, v0.4.0, v0.4.1, v0.4.2, v0.4.3, v0.4.4, v0.5.0] but these co
nflict with your requirements or minimum-stability.
    - bitwasp/buffertools v0.4.1 requires mdanter/ecc ~0.4 -> satisfiable by mda
nter/ecc[0.4.x-dev, v0.4.0, v0.4.1, v0.4.2, v0

[2017-11-30 17:33] ofumbi commented on #46
Oh I got a better solutiuon
composer require "bitwasp/bitcoin":"dev-master as 0.0.7.x-dev",

[2017-11-30 18:42] oyepez003 commented on #46
Nice solution, you can send me how to create and sign the transaction using bitwsap. The signer of php-client is the problem with my current project dependencies...

[2017-12-14 08:02] senque opened #55 "Transfer UNSPENT ! How can i do ?"
HI everyone !

Recently, i sent a paiement from COINBASE to my Electrum 3.0 Wallet.
Here is the adress of the paiement : https://live.blockcypher.com/ltc/address/3LAECTeh8FUvyjXtYx8bJWxNNKVU17PqCu/

The paiement is actually UNSPENT. And honestly, i search a very long time yesterday night to understand the problem, and i'm completely stuck.

To see if the problem doesn't come from Electrum, i sent

[2017-12-14 11:37] senque commented on #55
To all person who transfer by mystake LITCOINS to BITCOINS electrum wallet,

Here the tutorial to recover your money ! :

https://www.youtube.com/watch?v=umsIy1ks8vg&t=41s

Hope this could help people.

Have a good day !

[2017-12-16 13:23] InspiredPrynce commented on #22
None of this things seem to work for me at the moment...

"blockcypher/php-client": "^1.5",

"name": "mdanter/ecc",
"version": "v0.5.0",
"source": {
"type": "git",
"url": "https://github.com/phpecc/phpecc.git",
"reference": "ed5c6d496f5310de1b7071b8375fafa3559a1344"
},

"name": "bitwasp/bitcoin",
"version": "v0.0.7",
"source": {
"type": "git",
"url": "https://github.com/Bit-Wasp/bitcoin-php.git",

[2017-12-16 13:23] InspiredPrynce commented on #21
None of this things seem to work for me at the moment...

"blockcypher/php-client": "^1.5",

"name": "mdanter/ecc",
"version": "v0.5.0",
"source": {
"type": "git",
"url": "https://github.com/phpecc/phpecc.git",
"reference": "ed5c6d496f5310de1b7071b8375fafa3559a1344"
},

"name": "bitwasp/bitcoin",
"version": "v0.0.7",
"source": {
"type": "git",
"url": "https://github.com/Bit-Wasp/bitcoin-php.git",

[2017-12-17 05:44] InspiredPrynce commented on #54
Someone should please fix this!

[2017-12-19 13:31] Suneel-RoR commented on #35
@josecelano below find the response i have got using blockcypher api.. Kindly look into this and help me out of this problem:

`BlockCypher::Api::Error: https://api.blockcypher.com/v1/btc/test3/txs/send?token=db62a181113d4acd9d50b1234f216b39 Response:{
  "errors": [
    {
      "error": "Error validating generated transaction: Error running script for input 0 referencing 36c6f9bbcd13a87bb37dfb2841

[2017-12-21 17:09] 0x6c23 opened #56 "Api stopped working suddenly, without a change."
So I am creating all transactions equal. Using the code from the createTransaction sample. I run the script in a loop, since we are paying out customers. Also, I bought the beta plan. The script ran successfully for ~50 transactions. Now it stopped working completely, with the following error:

[code]

The wallet is funded and the in- and outputs are added correctly. Inputs show up empty only in t

[2018-01-10 15:44] tnga opened #57 "Class 'BlockCypher\Client\WalletClient' not found"
seems to missing Client directory in latest composer publishment

[2018-01-12 21:53] rohstar opened #58 "Unable to locate AddressClient"
I don't see a Client Directory at all

[2018-01-12 22:10] rohstar commented on #58
Had to specify the version '1.5.0' vs. '*' to get correct updated version.

[2018-01-12 22:10] #58 closed

[2018-01-18 07:14] iamdevesin commented on #49
Stuck here too... try using the sample i transaction-api

I used that to create transaction for BTC but it is not going for ETH

Perhaps i'm missing endpoint or something

Anyone that solved this  should please help

[2018-01-18 15:09] Govind13100 commented on #49
You cannot use same(btc) library for ETH. Just use raw url , hit them buy curl and sign the transaction.Everything is given in their doc. I have also done the same for ETH

[2018-01-18 15:16] Govind13100 commented on #49
{"error": "Couldn't deserialize request: math/big: cannot unmarshal ""1000"" into a *big.Int"}

For this you have to deal with satoshi for ex if you want to send 0.1 btc then in parameter you have to multiply 0.1 * 100000000(satoshi) for ETH it’s 18 times zero. Min amount of btc to transfer is 0.00001. I hope that could help. I solved my same issue by this.

[2018-01-19 09:38] iamdevesin commented on #49
Thanks @Govind13100 , I tried parsing the ETH transaction using PHP curl but so far, no luck

Here's what I've tried

				<?php
				$curl = curl_init();
				curl_setopt_array($curl, array(
				  CURLOPT_URL => "https://api.blockcypher.com/v1/eth/main/txs/new?token=mytoken?inputs=add42af7dd58b27e1e6ca5c4fdc01214b52d382f?outputs=884bae20ee442a1d53a1d44b1067af42f896e541?value=4200000000000000",

[2018-01-19 09:42] Govind13100 commented on #49
[code]

[2018-01-25 16:55] uchidera9 opened #61 "money is stuck in the blockcypher"
How do I return the money back to my coinbase account?

[2018-01-25 19:04] mikkelbfriis opened #62 "Credential not found for default user."
Hey, I've been experiencing troubles with (Credential not found for default user. Please make sure your configuration/APIContext has credential information)
This is my call:
[code]

[2018-01-25 19:46] TokiSeven commented on #54
Have this error too. Does anyone know how to fix it?

[2018-01-30 09:40] pixelgaurav opened #63 "error in sign-in at Create Transaction"
FatalThrowableError in PrivateKeyList.php line 54:
Type error: Argument 1 passed to BlockCypher\Crypto\PrivateKeyList::addPrivateKey() must be an instance of BitWasp\Bitcoin\Key\PrivateKeyInterface, instance of BitWasp\Bitcoin\Crypto\EcAdapter\Impl\PhpEcc\Key\PrivateKey given, called in /home/pixel/Documents/tests/vendor/blockcypher/php-client/lib/BlockCypher/Crypto/PrivateKeyList.php on line 43

[2018-01-31 07:21] saad3074 commented on #43
what is CURL request for deploying our contract or contract address to use our token on Blockcypher

[2018-02-04 16:38] mc-17 opened #64 "Basic address endpoint - Differentiating transactions with non-return addresses"
(Came across this difficulty when using JS speicifically, but applies anyway)

I've been testing the API with a well known public address - The Apache Foundation or another FOSS foundation. The transactions use the address as a change address, meaning that the the address is in both the inputs and outputs.

The tx_input_n and tx_output_n pair produce (-1, >=0), which is the same for a incoming tra

[2018-02-09 10:15] adeelotx opened #65 "Create transaction using Wallet??"
I have created transaction using wallet name and wallet token in input address.But now how to sign that transaction ?? mean which private key to use, because we don't know what address are going to use from wallet. So how come?????????

Any suggestion would be very appreciable.

Thanks in advance

[2018-02-14 01:33] ar-to commented on #57
Yep got the same. All of the tests in http://blockcypher.github.io/php-client/sample/ use the \BlockCypher\Client\

[2018-02-16 23:49] ar-to commented on #42
So I had this same problem and I made a [pull request](https://github.com/blockcypher/php-client/pull/66/files) to hopefully get this info added to the readme. I think this repo is not being checked very often because the travis test failed and the little response rate on these issues.

[2018-02-23 12:45] dib258 opened #67 "PHP 7.1 mcrypt not there anymore, package uninstallable"
Hi,

I wanted to install the package to Laravel but I have the following error :

    - bitwasp/bitcoin v0.0.7.1 requires ext-mcrypt * -> the requested PHP extension mcrypt is missing from your system.
    - bitwasp/bitcoin v0.0.7 requires ext-mcrypt * -> the requested PHP extension mcrypt is missing from your system.
    - blockcypher/php-client v1.5.0 requires bitwasp/bitcoin 0.0.7.* -> satisfia

[2018-03-01 14:27] Insano41 commented on #49
@Govind13100 I have problem with sign transaction. Do you customized BitcoinECDSA for Ethereum?

I get this error "Could not compute an address from provided signature: invalid transaction v, r, s values."

When I sign transaction with https://github.com/blockcypher/btcutils/tree/master/signer It works, but I need to do it in PHP.

Thanks.

[2018-03-17 13:48] tummybos commented on #62
I am also having these issue. I dont know why this kind of error should be experienced in a deployed library.
Please let me know if you got over it

[2018-03-18 00:11] devpro9219 opened #68 "Sending Dash Coin using curl is not working"
I am trying to send the dashcoin using blockcypher curl function.
When I try to send bitcoin and eth and litecoin, that  works.
But When I send the dashcoin, I have met that issues.
[0]=>
    object(stdClass)#198 (1) {
      ["error"]=>
      string(66) "Not enough funds in 0 inputs to pay for 1 outputs, missing -20000."
    }
    [1]=>
    object(stdClass)#199 (1) {
      ["error"]=>
      string

[2018-03-20 22:47] ar-to commented on #63
Had the same problem when signing a bitcoin transaction. The problem has to do with the interface file its expecting has been moved and renamed inside the bitWasp library.
from:
`use BitWasp\Bitcoin\Key\PrivateKeyInterface;`
to:
`use BitWasp\Bitcoin\Crypto\EcAdapter\Key\PrivateKeyInterface;`
Changing this inside the BlockCypher\Crypto\PrivateKeyList.php file will fix this problem as long as you do

[2018-03-28 13:08] tarifrudrapur opened #70 "Creating multiple address for each receiving transaction"
I would like to create a receive bitcoin request for each transaction so user can send an amount and i can verify this from my end.
Should be a main address for controlling all the address.

What is possible prospective to achieve this ?

Example example wikileakes taken a donation with a random address,
https://shop.wikileaks.org/donate#db9

[2018-04-22 13:03] emabusi opened #72 "Transaction to multiple address"
How do initiate a transaction (send btc). Example with 110000 satoshi send 60000 to address x and 40000 to address y, and the remainder as transaction fee.

[2018-04-25 12:11] misuqian commented on #34
hi.is there any api for create mainnet address transaction?

[2018-05-06 14:07] #41 closed

[2018-05-11 13:49] behradkhodayar opened #73 "Creating transaction on Ether testnet results in 502 bad gateway!"
I'm trying to create transactions in ether using BC's two-endpoint, but even manually sending request by using terminal & any source/destination pair (including the samples provided in documentation) returns a big 502 Bad gateway error!!

[2018-05-17 18:17] lucastruong opened #74 "Example for the PaymentForwardCallback object"
I read the PaymentForwardCallback object. But I cannot see anything about an example for this.
Pls help me.

Ref. https://www.blockcypher.com/dev/bitcoin/#create-payment-endpoint

[2018-05-30 15:35] luciferizing commented on #43
has you resolved this issue? running into the same problem...

[2018-06-14 18:32] JadeDranzen opened #75 "Set-up payment forwarding"
Hello,

I have created a payment forwarding address (a test one), I get this result:
{
    "destination": "C9tLwL1XMNQDdBnf2UCYa3EAfSaa4vzgo4",
    "process_fees_percent": 0.0005,
    "id": "0e8d694b-88e2-47a7-a403-fbd04157e6af",
    "token": "63d8137cd87c462d807a1cf836985939",
    "input_address": "BvBXpw93EwNPcZhouvtr1eyaoJsGjAQiJS"
}

How do I link the generated address to my created transactio

[2018-06-15 14:09] alexey-p commented on #49
{"error": "Couldn't deserialize request: math/big: cannot unmarshal ""1000"" into a *big.Int"}

The problem is that you pass STRING. **You should pass float or int.**

[2018-07-21 13:19] cis-s commented on #5
Hello I am using BlockCypher API and I am getting below error -
{'error': 'Error building faucet transaction: Not enough funds in 0 inputs to pay for 1 outputs, missing -100}
when I am trying to use send_faucet_coins method to add faucet coins to btc address.

Kindly help !!

[2018-08-06 07:55] soniadao commented on #35
At the last step, when I send the JSON to the blockchain I get this error :

"error": "Error validating generated transaction: Error running script for input 0 referencing 4a9aa1189c6a5d0f770c7a43bf46dc87f0c08ec35c68468212c7e8445900623c at 1: Script was NOT verified successfully."

Can someone help me please ?

[2018-08-09 13:02] YasserNoureldin opened #76 "Error: "1 private keys do not correspond to any input. Please check private keys provided.""
I get this error message "1 private keys do not correspond to any input. Please check private keys provided."

Although I am using the right private key for the right input address.

Here is the input address used on bitcoin testnet:
[code]

and then after finishing inputs and outputs i create the transaction:
`$txSkeleton = $txClient->create($tx);
`
that works fine, then adding the private key fo

[2018-08-14 09:59] MadhuriMhavarkar opened #77 "Uncaught BlockCypher\Exception\BlockCypherInvalidPrivateKeyException: Invalid private key format, hex expected.Please install GMP extension."
I am trying to create, sign and send transaction from blockcypher's sample files.

But it throws an error

Fatal error: Uncaught BlockCypher\Exception\BlockCypherInvalidPrivateKeyException: Invalid private key format, hex expected.Please install GMP extension. in /opt/lampp/htdocs/bitiagowallet/php-client/blockcypher/php-client/lib/BlockCypher/Crypto/PrivateKeyManipulator.php:86 Stack trace: #0 /o

[2018-08-14 15:38] jRazer commented on #35
@soniadao something happened? similar error

[2018-08-14 15:41] jRazer commented on #35
@soniadao something happened? similar error

[2018-08-27 23:04] macsj200 commented on #35
I'm also getting a similar error.

[2018-09-10 09:20] yura-sutnuk opened #78 "address unsuported"
Hi, i have error when i try to get address info (http://api.blockcypher.com/v1/eth/main/addrs/d1fe40d9d15da8b9686444179357054f36159cac) i get {"error": "Address not found or unsupported: d1fe40d9d15da8b9686444179357054f36159cac"} but this address is exists and even have real transactions (https://etherscan.io/address/0xd1fe40d9d15da8b9686444179357054f36159cac), could you help with this error?

[2018-09-14 09:10] alexeygon commented on #40
Try address without 0x

[2018-09-17 17:59] moinrazakhan opened #79 "How can I fetch attribute of the Callback URL"
Callback url triggered well, but i can't fetch any attribute like its value ,input address etc., i can't fetch the attribute on the POST value as well, Can you please suggest how can i fetch that attribute? I does not get below screen shot attribute value.

![image](https://user-images.githubusercontent.com/8957458/45640859-6e85e500-bad1-11e8-865c-a53dc6116011.png)

[2018-09-18 19:05] irfankhan86004 opened #80 "create payment endpoint Call back url not send post data on my server"
Hello

I m using this code for when made transaction than it's call callback url but it's issue it callback url not getting POST data on server

This my code. Please guide me  my code has missing any code or any another issue.

$paymentForwardClient = new \BlockCypher\Client\PaymentForwardClient($apiContexts['BTC.main']);
$userid = 1662;
$secret = 'SECRET';
$destination = 'DESINATION';
$callbackUr

[2018-09-22 14:12] yura-sutnuk opened #81 "Couldn't deserialize request"
Hi, when i trying to send more then 9eth i get error

`Couldn't deserialize request: math/big: cannot unmarshal "1.1E+21" into a *big.Int`

i think it is becouse the amount in WEI that i trying to send is biger then PHP_INT_MAX but if I try to break a transaction into several outputs i get

`"error": "Missing output or too many outputs, Ethereum transactions take exactly one.`

How can i send for

[2018-10-03 09:39] dzona commented on #79
you may try creating postback object, in your case `PaymentForward`, from payload.

[code]

or access it directly from array

[code]

[2018-10-03 09:40] dzona commented on #74
see #74

[2018-10-03 09:42] dzona commented on #73
@behradkhodayar @AviEt can you paste your code examples please

[2018-10-05 13:17] techgardeners opened #82 "Missing Accessor: BlockCypher\Api\TX:setBlockIndex"
On my log I have always this warning
BlockCypher\Validation\ModelAccessorValidator: DEBUG	: Missing Accessor: BlockCypher\Api\TX:setBlockIndex. You might be using older version of SDK. If not, create an issue

So I created a Issue

[2018-10-15 15:01] tokhunts opened #83 "Call to undefined method BitWasp\Bitcoin\Crypto\EcAdapter\Impl\PhpEcc\Adapter\EcAdapter::sign()"
public static function sign($hexDataToSign, $privateKey)
    {
        if (is_string($privateKey)) {
            $privateKey = PrivateKeyManipulator::importPrivateKey($privateKey);
        }

        // Convert hex data to buffer
        $data = Buffer::hex($hexDataToSign);
        /** @var EcAdapterInterface $ecAdapter */
        $ecAdapter = Bitcoin::getEcAdapter();

        // Deterministic dig

[2018-10-17 09:28] tokhunts opened #84 "Got Http response code 400 when accessing https://api.blockcypher.com/v1/btc/test3/txs/send?token=xxxxx"
I already creating and sign transaction .
sign() return this json->
TXSkeleton {#784 ▼
  -_propMap: array:4 [▼
    "tx" => TX {#787 ▼
      -_propMap: array:17 [▼
        "block_height" => -1
        "block_index" => -1
        "hash" => "0cdb43c280c6d5ee481959762e8e2e93560be239b8f05bb7be4747c3caab1a8f"
        "addresses" => array:2 [▼
          0 => "n3D2YXwvpoPg8FhcWpzJiS3SvKKGD8AXZ4"

[2018-10-19 13:13] sbtc1 opened #85 "Spend non-native segwit (P2SH-P2WPKH)?"
Hi

Does the API support spending from a P2SH address (3.......) that is not multisig but a P2SH-P2WPKH address?
The documentation only covers script-type multisg-n-of-m for P2SH addresses. Is this a known gap, or can it be achieved through another script-type or other method?

(It looks like the API now expects multisig when the address starts with a 3)

kind regards

[2019-01-11 16:58] hai-ru opened #86 "Guzzle Eth curl wih error EOF"
resulted in a `400 Bad Request` response: {"error": "Couldn't deserialize request: EOF"}

what wrong with my code? what I konwed EOF is (end of file)?

$data = (Object) [
				"inputs"=>[
							(Object) ["addresses" =>["add42af7dd58b27e1e6ca5c4fdc01214b52d382f"]]
						],
				"outputs"=>[
							(Object) ["addresses" => ["884bae20ee442a1d53a1d44b1067af42f896e541"]]
						],
				"value"=>4200000000

[2019-01-11 16:59] hai-ru commented on #86
` curl -sd '{"inputs":[{"addresses": ["add42af7dd58b27e1e6ca5c4fdc01214b52d382f"]}],"outputs":[{"addresses": ["884bae20ee442a1d53a1d44b1067af42f896e541"], "value": 4200000000000000}]}' https://api.blockcypher.com/v1/eth/main/txs/new?token=MY_TOKEN`

`{"error": "Error retrieving input address add42af7dd58b27e1e6ca5c4fdc01214b52d382f: Failed to create state: missing trie node 057d4dab452bcc57ae77faf

[2019-01-16 06:02] #62 closed

[2019-02-16 03:31] hai-ru commented on #49
I want to transfer 1963100010400.0002 stoshi doge but I'd return error message.

{"error": "Couldn't deserialize request: math/big: cannot unmarshal "1963100010400.0002" into a *big.Int"}"

[2019-02-28 14:21] cooljar commented on #81
Hi, do you already slove this issue, i have same problem.

[2019-03-07 19:39] yura-sutnuk commented on #81
Yes, the problem was that after I got the SKELETON transaction, I use the json_decode function to convert json to an array, and at that moment the transaction value is not converted correctly and looks like 1.1E+21.
Solution: it is durty but I worked with Json, as with a string so as not to transform into an array or object

[2019-03-09 20:04] s032137 opened #87 "how can i use omitWalletAddresses"
I am going to use omitWalletAddresses to get the wallet balance.
Code here:
[code]
Fatal error: Uncaught BlockCypher\Exception\BlockCypherConnectionException: Got Http response code 404 when accessing https://api.blockcypher.com

[2019-03-11 14:46] noydarly opened #88 "Apache appears to not be able to run sign function"
Installed the SDK by downloading directly and am going to get signature .
Below is the code.
But this, strictly speaking, the sign function works from command line but doesn't from web browser.
How can I make this work on browser?
Thank you.

include_once '../php-client/autoload.php';
if (isset($_GET['tosign'])) {
    $tosign = filter_input(INPUT_GET, 'tosign', FILTER_SANITIZE_SPECIAL_CHARS);
} el

[2019-03-12 16:56] #81 closed

[2019-05-05 08:33] noistudio opened #89 "Params for blockcypher test"
Where i can get params network https://api.blockcypher.com/v1/bcy/test
i need that for package https://github.com/Bit-Wasp/bitcoin-php/

[2019-05-05 08:39] noistudio opened #90 "Network params for btc test3"
I trying to use that params https://github.com/Bit-Wasp/bitcoin-php/blob/master/src/Network/Networks/BitcoinTestnet.php for btc test3
But address in generate on my code is wrong.
How fix that ?
Can you say me correct params for that network .

[2019-05-17 07:58] ivanmfan opened #91 "Cant send dash"
Can you fix it plz?
Call to undefined method BitWasp\Bitcoin\Network\NetworkFactory::dash()

[2019-05-20 16:55] itinance opened #92 "Is this library still under active development?"
Hi, since there are many open issues and even Pull requests helping out to catch up with PHP 7.2, I'm curious if this lib is still under active development?

The latest commit was from November 2018.

[2019-07-26 11:12] harwinder-developer opened #93 "Getter function for 'tx' in 'BlockCypher\Api\TXSkeleton' class should have a proper return type."
Hi,
i am getting this error when i try to run my /sample/transaction-api/CreateAndSignAndSendTransactionBCTesnet.php . It was working fine before 2 days , but today it is throwing this error donot know why , can you please help me to solve this things.

Thanks

[2019-08-07 14:42] nestormata opened #94 "Usage of removed libraries - library no longer installable"
Installing this library is no longer possible.
Because this library depends on bitwasp/bitcoin v0.0.7 (a very old version btw) and that library requires the library rgooding/protobuf-php which was removed completely.

Can you guys please update the library so it can be used again? Or then declare it non functional so, somone else can take over or something?

Thanks

[2019-09-19 16:47] SchulerSimon commented on #35
Same problem, I was referencing the uncompressed key instead of the compressed key, @macsj200 thanks for updating, that helped alot

[2019-10-14 10:03] Quant-Network commented on #35
Hi @macsj200, struggling on this one. The node js example that BlockCypher has is old and no longer working with the newest bitcoinjs-lib version. But I even used the old version of this module and it still does not work... I guess I messed something, but not sure what... Maybe you can spot what's the problem...

`keys = bitcoin.ECPair.fromWIF(wif, bitcoin.networks.bitcoin);

tmptx.pubkeys = [];
t

[2019-10-26 06:13] jingyao97 commented on #94
Yeah, there is an error right now. Should i actually just remove it from the composer.lock?

[2019-11-11 06:43] AvionicsBird commented on #67
Issue still exist.. Whats the solution?

[2019-11-11 23:28] itsnotyoutoday commented on #94
I'm currently working on a fork of this library at https://github.com/itsnotyoutoday/php-client/tree/phpmodernization ..  Everything passed with PHPUnit 4, but when I found out travis-ci uses modern day PHPUnit 8.3.4 I had to start rewriting all the tests.. If anyone feels like contributing to this fork to fix the tests that'd be awesome.

[2019-11-12 11:46] maxspb89 opened #96 "Error while sending raw TX"
Trying to send a raw transaction, formed by my code to network. For example:
`curl -d '{"tx":"01000000016313abc16661afc8dd7ea5ae608c660fdf1fb3a9760d95b36823d673e717b5b2010000008b483045022100c9fceded42846480d9219f062e98af1b69cadee5032ae42cf0e6fb2d7e1f5c920220565771eb9c343a1d34b1c462c0877906c1782749772f31ba0d137fdc5a6124c701410428a082067ef24fa90302fd7ac2001328c3ac255d8c94b47ce8048455701b53d895f55841

[2019-12-11 22:03] ptcrank opened #97 "php7 mcrypt"
Mcrypt cannot be used for php7.
Is there a way to use it in php7?  Like openssl
please guide me

[2019-12-18 10:00] Sirlupinwatson1 opened #99 "Asking Ether on Test Net it Says i Am on Main Net"
network

currently on mainnet - please select the correct test network

![ethertest](https://user-images.githubusercontent.com/55941045/71076197-4e6d2780-2153-11ea-981a-d78851510a4f.png)

[2019-12-21 09:09] ptcrank opened #100 "CreateTransaction"
## Create a transaction. (all balance  - Fees embedded) ##

How to create a transaction with a fee embedded(All Balance)?
[code]

[2019-12-23 20:52] #100 closed

[2020-01-13 15:25] ptcrank commented on #72
$tx = new \BlockCypher\Api\TX();

/// Tx inputs
$input = new \BlockCypher\Api\TXInput();
$input->addAddress("INPUT ADDRESS");  //Minimum inventory of more than 10,000 Satoshi
[code]

[2020-02-19 04:03] #99 closed

[2020-02-20 11:24] olegdev01 commented on #94
Same issue for me.

[2020-03-10 08:09] alielectric opened #108 "problem in running the CreateAndSignAndSendTransaction.php file"
hi there i wanna create and sign and send a simple transaction but i encountered to a simple problem. i just try to run the sample code but it has problems what should i do?
the error is below:
Fatal error: Uncaught TypeError: Argument 1 passed to BlockCypher\Crypto\PrivateKeyList::addPrivateKey() must be an instance of BitWasp\Bitcoin\Key\PrivateKeyInterface, instance of BitWasp\Bitcoin\Crypto\Ec

[2020-04-17 02:23] GhoSTBG opened #109 "Error: Not Enough Funds"
Hi guys,
I'm using the CreateTransaction API. Everything works as expected, but my minimum fee to send a transaction from newely generated address is 13,500 satoshies, which is near 72 sat / B.

JSON Here: [click](https://jsoneditoronline.org/#left=cloud.2603f608b7594512a328bf776043b4d2)

[2020-05-08 14:03] quentinlesceller commented on #24
Closing.

[2020-05-08 14:03] #24 closed

[2020-05-08 14:04] #32 closed

[2020-05-08 14:17] quentinlesceller commented on #85
Now it does :). See [our new blog post](https://blog.blockcypher.com/a-guide-to-blockcyphers-new-bech32-features-4aa33baeaf51?source=collection_home---5------0-----------------------)  for more info.

[2020-05-08 14:17] #85 closed

[2020-05-13 14:46] quentinlesceller commented on #14
Done in #111.

[2020-05-13 14:46] #14 closed

[2020-05-13 14:47] #34 closed

[2020-05-13 14:47] quentinlesceller commented on #109
You can lower the preference to pay lower fees.

[2020-05-13 14:47] #109 closed

[2020-05-13 14:47] quentinlesceller commented on #97
Done in Done in #111.

[2020-05-13 14:47] #97 closed

[2020-05-13 14:48] quentinlesceller commented on #96
Closing this issue since it's not related to the PHP Client.

[2020-05-13 14:48] #96 closed

[2020-05-13 14:48] quentinlesceller commented on #108
This is fixed in #111.

[2020-05-13 14:48] #108 closed

[2020-05-13 14:48] quentinlesceller commented on #94
Done in #111.

[2020-05-13 14:48] #94 closed

[2020-05-13 14:49] quentinlesceller commented on #92
It is yes. See the latest big update to support PHP >= 7.1 in #111.

[2020-05-13 14:49] #92 closed

[2020-05-13 14:49] #88 closed

[2020-05-13 14:49] quentinlesceller commented on #89
See here https://github.com/blockcypher/php-client/blob/master/lib/BlockCypher/Networks/BlockCypher.php.

[2020-05-13 14:49] #89 closed

[2020-05-13 14:50] quentinlesceller commented on #91
See https://github.com/dan-da/coinparams-bitwasp-addon.

[2020-05-13 14:50] #91 closed

[2020-05-13 14:52] quentinlesceller commented on #90
Needs more details. Feel free to retry with v2.0.0-beta.1!

[2020-05-13 14:52] #90 closed

[2020-05-13 14:52] #87 closed

[2020-05-13 14:52] quentinlesceller commented on #86
Outdated. Closing.

[2020-05-13 14:52] #86 closed

[2020-05-13 14:53] quentinlesceller commented on #83
Fixed now (in #111).

[2020-05-13 14:53] #83 closed

[2020-05-13 14:53] quentinlesceller commented on #93
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:53] #93 closed

[2020-05-13 14:54] #84 closed

[2020-05-13 14:54] quentinlesceller commented on #82
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:54] #82 closed

[2020-05-13 14:54] #80 closed

[2020-05-13 14:54] #79 closed

[2020-05-13 14:54] quentinlesceller commented on #78
Looks fixed.

[2020-05-13 14:54] #78 closed

[2020-05-13 14:54] quentinlesceller commented on #77
Fixed in #111.

[2020-05-13 14:54] #77 closed

[2020-05-13 14:55] #76 closed

[2020-05-13 14:55] #75 closed

[2020-05-13 14:55] #74 closed

[2020-05-13 14:55] #73 closed

[2020-05-13 14:55] #72 closed

[2020-05-13 14:55] #70 closed

[2020-05-13 14:55] #68 closed

[2020-05-13 14:55] quentinlesceller commented on #67
FIxed in #111. Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:55] #67 closed

[2020-05-13 14:56] #65 closed

[2020-05-13 14:56] #64 closed

[2020-05-13 14:56] quentinlesceller commented on #63
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:56] #63 closed

[2020-05-13 14:56] #61 closed

[2020-05-13 14:56] quentinlesceller commented on #57
Fixed in #111.

[2020-05-13 14:56] #57 closed

[2020-05-13 14:56] #56 closed

[2020-05-13 14:56] #55 closed

[2020-05-13 14:56] quentinlesceller commented on #54
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:56] #54 closed

[2020-05-13 14:57] #49 closed

[2020-05-13 14:57] #48 closed

[2020-05-13 14:57] #47 closed

[2020-05-13 14:57] quentinlesceller commented on #46
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:57] #46 closed

[2020-05-13 14:57] quentinlesceller commented on #45
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:57] #45 closed

[2020-05-13 14:57] #44 closed

[2020-05-13 14:57] #43 closed

[2020-05-13 14:57] quentinlesceller commented on #42
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:57] #42 closed

[2020-05-13 14:58] #40 closed

[2020-05-13 14:58] quentinlesceller commented on #38
Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:58] #38 closed

[2020-05-13 14:58] #37 closed

[2020-05-13 14:58] quentinlesceller commented on #35
Most of the library are now up to date. Try using v2.0.0-beta.1 and please report back. Thank you!

[2020-05-13 14:58] #35 closed

[2020-06-12 16:47] vanderjelly opened #112 "Argument 1 passed to BlockCypher\Rest\ApiContext::setConfig() must be of the type array"
**Hello**

_step to reproduce_

1: installation from composer

2: trying to use the basic tutorial present in your home page.
[code]
3: After copying all code of the home page i got this error :

_What i'm using ?_

- php7.3 with required extension provided in your home page.
- linux on fedora 31.
- laravel 7

I have trying to search on stackoverflow for exemple an topic have the same error but fo

[2020-06-12 17:05] vanderjelly commented on #112
Solving with these code

[code]

[2020-06-12 17:05] #112 closed

[2020-06-12 17:19] judikaelB commented on #112
Don't miss to add in the array for config

[2020-06-12 18:22] quentinlesceller commented on #112
@vanderjelly and @judikaelB can you confirm that the following code works?
[code]

If yes I will update the example. Many thanks for your contribution.

[2020-06-12 18:25] vanderjelly commented on #112
Yes this work very well :) But Many class like multisig are not present what will replace it ?

[2020-06-12 18:26] quentinlesceller commented on #112
What do you mean? Does this example still works https://github.com/blockcypher/php-client/blob/a7e7caa3de474d976a0c3bdeb136354016b141ea/sample/doc/address-api/CreateMultisigAddress.html ?

[2020-06-12 18:29] vanderjelly commented on #112
I have don't try your link but this:

[code]

that code is enable to see in the doc of [BlockCypher](https://www.blockcypher.com/dev/bitcoin/#generate-multisig-address-endpoint)

The class Address Client does not exist and the method generateMultisigWallet does not work from Address class

[2020-06-12 18:31] quentinlesceller commented on #112
Okay I’ll take a look. Let me know if you manage to do it. Seems like the transition to php 7 was not super smooth then. The php 4 branch is very stable but very old if you need something production ready.

[2020-06-12 18:34] vanderjelly commented on #112
Ok i know but i'm integrating this package on my framework laravel 7, them use php 7.2 at minimum php requirement.

I think your repository was updated from 3 month and some class don't work today for the actual BlockCypher PHP Doc.

[2020-07-05 07:09] shewasforever opened #113 "Class 'BitWasp\Bitcoin\Key\PrivateKeyFactory' not found"
When I signed the transaction, there was an error：Class 'BitWasp\Bitcoin\Key\PrivateKeyFactory' not found。
There's something wrong with calling a function like this:
$txSkeleton = $txClient->sign($txSkeleton, $privateKeys);

I went to download the relevant files, but did not find this class,This has puzzled me for a long time. Is there a solution?

[2020-07-07 20:03] quentinlesceller commented on #113
Hi @shewasforever the sample is outdated (use Php 4 and old version of BitWasp).
Replace it with https://github.com/blockcypher/php-client/pull/111/files#diff-9cdc1f36a9510f6bc3bda1713d8922d8R7
[code]

[2020-07-10 19:43] UpalChakraborty opened #114 "Warning: Using non-secure random number generator"
Warning: Using non-secure random number generator. in /public_html/php-client/mdanter/ecc/src/Random/GmpRandomNumberGenerator.php on line 13

Triggering file: https://github.com/blockcypher/php-client/blob/master/sample/transaction-api/CreateAndSignAndSendTransaction.php

PHP Version: 7.4

Codebase: https://github.com/blockcypher/php-client/releases/tag/v1.5.0

Appears to be a problem occurring du

[2020-07-16 10:14] sidjoshi001 opened #115 "rgooding/Protobug-php is not working - abandoned"
This package is abandoned and no longer maintained. No replacement package was suggested.

[2020-08-11 22:58] adgeese commented on #114
Should I continue forward with this project, perhaps some chatter or acknowledgment would be helpful to future customers

[2020-08-12 22:30] quentinlesceller commented on #114
Hi @adgeese and @UpalChakraborty the PHP 5.5 version (php55 branch) is stable the master branch is currently in beta. This is currently not at the top of my todo list of things to fix right now. So I'll appreciate if someone could do a quick PR to fix this.

[2020-09-11 19:56] Mujeeb506 opened #116 "Stuck money"
Sir i was send ltc from coinbase to payeer wallet status is done from coinbase but my money is stuck in blockcypher now how i get my money please told me solution

[2020-09-11 20:12] Mujeeb506 commented on #116
Sir here is my receiver​ id ///
LPTeFL5ALEP9xV9NdqUdb1fYXtEHaQM7tR
My money unspent on this #id please solve this problem

[2020-09-11 20:13] #116 closed

[2020-10-12 08:37] smartyaunt opened #117 "trading api not working"
can someone help me? A 400 error occurred when I called the trading api, but I don’t know what went wrong, I am using the latest version of the PHP SDK

protected function getTxToken()
    {
        $apiContext = ApiContext::create(
            'test', 'bcy', 'v1',
            new SimpleTokenCredential(env('BLOCKCHAIN_API_TOKEN')),
            array('mode' => 'sandbox', 'log.LogEnabled' => true, '